body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: font-size 0.3s ease;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; 
   align-items: center; 
   background-color: hsl(197, 100%, 88%);
}

main section {
    padding-bottom: 20px;
    width: 80%; 
    max-width: 400px;
    margin: 0 auto; 
    font-size: 50px;
}


footer {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
     list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}
footer li {
  display: inline;
   margin: 0 10px;
}
footer a {
     text-decoration: none;
     color: #ffffff;
}
.scalable-text1 {
    display: inline-block;
    font-size: 16px;
    transition: font-size .3s ease;
  }
  
  .scalable-text1:hover {
    font-size: 30px;
  }
  .scalable-text {
    display: inline-block;
    font-size: 16px;
    transition: font-size .3s ease;
  }
  
  .scalable-text:hover {
    font-size: 55px;
  }
  .ad{
    text-decoration: none;
    color: #000000;
}
h3 { 
    background-color: #ffffff;
    border-radius:  30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-style: solid;
}
.aaa {
    color: #000000;
    text-decoration: none;

}